#header-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
#header-container img{
    margin-top: 10px;
    width: 250px;
}
.header-title{
    color: var(--black-rose);
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px var(--black-rose);
    font-family: 'nesans';
    font-size: 22px;
}
.button-header{
    display: flex;
    justify-content: center;
}
.button-header button{
    background-color: var(--pink-stick);
    border: 0.5px solid var(--red-wine);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 8px;
    box-shadow: 4px 4px 6px var(--black-rose);
}
.shop{
    font-size: 20px;
    color: var(--black-rose);
}
.button-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container{
    display: flex;
    margin-top: 3%;
}
.buttons-container input{
    border: 0.5px solid var(--red-wine);
    border-radius: 30px;
    background-color: var(--pink-stick);
    box-shadow: 4px 4px 6px var(--black-rose);
    width: 150px;
    height: 40px;
    margin-top: 8px;
}
.buttons-container input::placeholder{
    color: var(--black-rose);
    font-size: 20px;
    text-align: end;
}

@media screen and (min-width:768px){
#header-container{
    flex-direction: row;
    align-items: flex-start;
}
#header-container img{
    width: 358px;
}
.button-header{
    align-items: flex-end;
    flex-direction: column-reverse;
}
.buttons-container{
    display: flex;
    margin: 3% 0 17% 0;
}
.header-title{
    font-size: 23px;
}
}
@media screen and (min-width:1024px){
    #header-container img{
        width: 420px;
    }
    .shop, .buttons-container input::placeholder{
        font-size: 25px;
    }
    .buttons-container input{
        height: 45px;
        width: 180px;
        padding: 5px 0 0 0;
    }
    .header-title{
        font-size: 34px;
    }
}
@media screen and (min-width:1200px){
    #header-container img{
        width: 550px;
    }
    .shop, .buttons-container input::placeholder{
        font-size: 30px;
    }
    .buttons-container input{
        height: 50px;
        width: 200px;
        padding: 10px 0 0 0;
    }
    .header-title{
        font-size: 42px;
    }   
    .buttons_container{
        display: flex;
        margin-top: 3%;
    }
    .buttons-container input{
        height: 50px;
        width: 180px;
    }
}